/* 
    Document   : hr
    Created on : Jan 13, 2011, 1:20:47 AM
    Author     : martin
    Description:
        Purpose of the stylesheet follows.
*/

.org_chart_avatar{
    
}

.org_chart_content{
    float:right;
    width:90px;
}
.org_chart_content p{
    color:#CCC;
}