/* 
    Document   : hr
    Created on : Jan 13, 2011, 1:20:47 AM
    Author     : martin
    Description:
        Purpose of the stylesheet follows.
*/

.org_chart_content{
    float:right;
    width:90px;
}
.org_chart_content p{
    color:#484848;
}

#hr-menu a{
background-position: 0% 40%;
background-repeat: no-repeat;
padding-left: 20px;
padding-top: 2px;
padding-bottom: 3px;
}
a.icon-hr_organization_chart {
background-image: url(../images/chart_organisation.png);
}
a.icon-hr_contact_list {
background-image: url(../images/book_addresses.png);
}
a.icon-hr_employees {
background-image: url(../images/vcard.png);
}
a.icon-hr_job_titles {
background-image: url(../images/user_add.png);
}
a.icon-hr_organizations {
background-image: url(../images/building.png);
}
a.icon-hr_departments {
background-image: url(../images/sitemap_color.png);
}
a.icon-group-add {
background-image: url(../images/group_add.png);
}

div.user_positions_split label{
    display: block;
}

tr.hr_organization{
    text-align: center;
    font-weight: bold;
}
tr.hr_organization_manager{
    border-style: solid;
    border-color: #FDBF3B;
    background-color: #E6FFBF;
}

tr.hr_department{
    text-align: center;
    font-weight: bold;
}
tr.hr_department_manager{
    border-style: solid;
    border-color: lightsalmon;
    background-color: wheat;
}

td.name{
    width: 80px;
}